In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB

In [2]:
df = pd.read_csv(r'C:\Users\vyshn\Downloads\archive\Youtube01-Psy.csv')

In [3]:
df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ Ôªø,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .Ôªø,1

We only need Content and class from the dataset, as it's the only relevant information here.

In [4]:
df = df[['CONTENT', 'CLASS']]

In [5]:
df.head()

                                             CONTENT  CLASS
0  Huh, anyway check out this you[tube] channel: ...      1
1  Hey guys check out my new channel and our firs...      1
2             just for test I have to say murdev.com      1
3   me shaking my sexy ass on my channel enjoy ^_^ Ôªø      1
4            watch?v=vtaRGgvGtWQ   Check this out .Ôªø      1

In [6]:
df['CLASS'] = df['CLASS'].map({0: 'Not Spam',
                              1: 'Spam comment'})

In [7]:
df.head()

                                             CONTENT         CLASS
0  Huh, anyway check out this you[tube] channel: ...  Spam comment
1  Hey guys check out my new channel and our firs...  Spam comment
2             just for test I have to say murdev.com  Spam comment
3   me shaking my sexy ass on my channel enjoy ^_^ Ôªø  Spam comment
4            watch?v=vtaRGgvGtWQ   Check this out .Ôªø  Spam comment

Training a Classification Model

In [8]:
X = np.array(df['CONTENT'])
y = np.array(df['CLASS'])

cv = CountVectorizer()
X = cv.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = BernoulliNB()
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

0.9857142857142858

In [11]:
comment = "download from link: https://hello.comüòÇüòÇüòÉüòÉ‚ö†Ô∏è‚ö†Ô∏è‚ö†Ô∏è‚ö†Ô∏è‚ö†Ô∏è"
data = cv.transform([comment]).toarray()
print(model.predict(data))

['Spam comment']

In [12]:
comment = 'Great video'
data = cv.transform([comment]).toarray()
print(model.predict(data))

['Not Spam']